<!-- display registration form if user is not logged in -->
<!-- otherwise they get to create new posts as a registered user -->

<div class="create-a-post container">

      
        {{#if posts}} <!-- EDIT AN EXISTING POST -->
          {{#each posts as |post|}}

            <form class='form update-a-post-form' data-id="{{post.id}}" data-func="update">

            <div class='form-group'>
              <input class='form-input' type='text' id='newpost-title' value='{{post.title}}' placeholder='title' />
            </div>
      
            <div class='form-group'>
              <textarea class='form-input' id='newpost-body'>{{post.description}}</textarea>
            </div>

          </form>

          {{/each}}

            <div class='form-group'>
                <button class='btn' type='submit'>UPDATE POST</button>
            </div>

         {{else}} 
         
          <!-- WORDS FINDER -->
          <div class="collapse-outer">
            <h3 class="collapse open">FIND WORDS:</h3>

            <div id="words-finder" class="collapse-content">
              <form id="words-finder-form">

                <div class='form-block display-flex justify-space-between query-builder form-group'>

                  
                    <select id='words-pos' class='select'>
                      <option value='n'>nouns</option>
                      <option value='v'>verbs</option>
                      <option value='adj'>adjectives</option>
                    </select>
                  
                    <select id='words-behavior' class='select'>
                      <option value='rel_trg'>about</option>
                      <option value='ml'>like</option>
                      <option value='rel_rhy'>rhyming with</option>
                    </select>
                  
                    <input type="text" id="words-subject" class="form-input" placeholder="subject" />
                  
                    <button id="find-words-btn" class="btn btn-submit">GO ></button>
                  

                </div>
              </form>

                <div class="other-options display-flex justify-flex-end flex-wrap text-right">
                  <button class="btn" data-func="surprise-me">SURPRISE ME</button>
                </div>

                <div id="word-list-dynamic"></div>

            </div> <!-- end of #words-finder -->
          </div> <!-- end of .collapse-outer -->

          <div class="collapse-outer">
            <h3 class="collapse open">SUPPORTING WORDS AND HELPERS</h3>
            <div class="collapse-content">
          
              <div id="word-list-static">
                  <div id="static-fragments"></div> <!-- things like s, y, linebreak - these are highlighted and listed first -->
                  <div id="static-words"></div> <!-- basics like pronouns, conjunctions, conditionals, etc. -->
              </div>
          
            </div> <!-- end .collapse-content -->
          </div> <!-- end .collapse-outer -->


          <!-- POEM -->

          <div id="poem-container" class="empty">drag words here to start your poem</div>

          <div id="help-buttons" class="text-right">
               <!-- these two toggle on and off, depending if the post is empty or not -->
               <!-- one clears the form, the other follows one of a few basic formulas to start a poem -->
               <button class="btn floating" data-func="start-over">START OVER</button>
               <button class="btn floating" data-func="get-me-started">GET ME STARTED</button>
          </div>

          <form class="form create-a-post-form" data-func="save">

            <div class='form-group display-flex justify-content-space-between'>
              <input class='form-input' type='text' id='newpost-title' placeholder='title of your poem' />
              <button class='btn btn-submit floating' type='submit'>SAVE</button>
            </div>
      
            <!-- This one probably gets deleted. Could add values to it on submit, but probably best just to make a poem string and use that. -->
              <input type="hidden" class='form-input' id='newpost-body'></textarea>
  

          </form>

          {{/if}}

      

</div>